<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/template">
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="author" content="">
<title>Job Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <link rel="stylesheet" href="../static/css/style.css">
   
<script src="js/script.js"></script>-->

</head>

<body id="pagetop">

	<div class="container-fluid">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/findjobs">Job Portal</a>
				</div>
				
			</div>
		</nav>

		<div class="jumbotron">
			<div class="container text-center">

				<h2>
					Job Portal
				</h2>
				<h2>Hi, <span th:text="${name}"></span></h2>
				<h1>A verification code has been sent</h1>

				<p>Click on the link sent to your email</p>
			</div>
		</div>
		
		

	</div>


</body>

</html>