<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/template">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>

<meta charset="utf-8">
<meta name="author" content="">
<title>Update jobs | FindJobs</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style type="text/css">
#requirements {
	margin-top: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fff;
	background-color: #3F729B;
}

#team {
	margin-top: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fff;
	background-color: #2E2E2E;
}

.jumbotron {
	margin-bottom: 10px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 10%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

.row.vertical-divider {
	overflow: hidden;
}

.row.vertical-divider>div[class^="col-"] {
	text-align: center;
	padding-top: 5%;
	/*padding-bottom: 100px;*/
	margin-top: 30px;
	/*margin-bottom: -100px;*/
	border-left: 3px solid #689f38;
	border-right: 3px solid #689f38;
}

.row1 {
	overflow: hidden;
}

.row2 {
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

body {
	padding-top: 20px;
	padding-bottom: 20px;
}
</style>


</head>

<body id="pagetop">

	<div class="container-fluid">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/findjobs">Job Portal</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#team">Team</a></li>

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">logged in as
							 <span class="caret" th:text="${company.companyName }"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="#">Profile</a></li>
							<li><a href="/findjobs">Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>

		<div class="jumbotron">
			<div class="container text-center">


				<h2>Update the job</h2>

			</div>
		</div>
		<div class="container">

			<div class="col-lg-12 well">
				<div class="row">
					<form th:action="@{'/JobPosting/update/'+${job.jobId}}" method="get">

						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-4 form-group">
									<label>Title *</label> <input type="text" name="title"
										th:value="${job.title }" class="form-control">
								</div>

								<div class="col-sm-4 form-group">
									<label>Location *</label> <input type="text" name="location"
										th:value="${job.location }" class="form-control">
								</div>
								<div class="col-sm-4 form-group">
									<label>Company</label> <input type="text" readonly
										name="company" th:value="${company.companyName }"
										class="form-control">
								</div>

							</div>

							<div class="form-group">
								<input type="hidden" th:value="${company.companyId}"
									class="form-control" name="cid" required>
							</div>
							<div class="form-group">
								<label>Responsibilities *</label> <input type="text"
									th:value="${job.responsibilities}" class="form-control"
									name="responsibilities" required>
							</div>

							<div class="form-group">
								<label>Description</label>
								<textarea rows="3" name="description" th:field="${job.description}" class="form-control"></textarea>
							</div>
							<div class="row">
								<div class=" col-sm-12 form-group">

									<label><b>Salary *($ p.a.)</b></label> <input type="text"
										th:value="${job.salary }" class="form-control" name="salary"
										required>
								</div>
							</div>

							<div class="btn-group btn-group-justified" data-toggle="buttons">
								<label class="btn btn-default active"> 
								<input
									type="radio" name="state" value="0" autocomplete="off">
									Open
								</label> 
								<label class="btn btn-default"> <input type="radio"
									name="state" value="1" autocomplete="off"> Filled
								</label> 
								<label class="btn btn-default"> <input type="radio"
									name="state" value="2" autocomplete="off"> Cancelled
								</label>

							</div>

						</div>


						<button type="submit" class="btn btn-lg btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>



	<div id="team" class="container-fluid text-center">
		<h1>Team:</h1>
		<p>Amay</p>
		<p>Ashay</p>
		<p>Avdeep</p>
		<p>Surendra</p>
		<p>Surendra</p>
	</div>

	</div>
	</div>

	<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

</body>

</html>